@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ServiceItemTemplate>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Name ?? "model name not working";

    bool.TryParse(TempData["error_name"]?.ToString(), out bool error_name);
    bool.TryParse(TempData["error_email"]?.ToString(), out bool error_email);
    bool.TryParse(TempData["error_message"]?.ToString(), out bool error_message);
}

<section class="service-details">
    <div class="container">
        <aside class="aside-left">
            <div class="about-us-link">
                @await Html.PartialAsync("Partials/static/aboutUsLink.cshtml")
            </div>
            <div class="contact">
                @await Html.PartialAsync("Partials/static/onlineSupport.cshtml", new OnatrixProject.Models.OnlineSupportFormModel())
            </div>
        </aside>
        <div class="page-content">
            @Model?.Value("pageContent")
        </div>
    </div>
</section>
<section class="question-form">
    <div class="container">
        <h2 class="form-headline">Have a Question?</h2>
        @if (TempData["questionsuccess"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["questionsuccess"]
            </div>
        }
        @if (TempData["questionerror"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["questionerror"]
            </div>
        }
        @using (Html.BeginUmbracoForm("HandleSubmit", "QuestionSurface", FormMethod.Post))
        {
            <div id="form-group-inline">
                <div class="form-group">
                    <input type="text" id="Name" name="Name" class="form-control" value="@ViewData["name"]" placeholder="Name" />
                    <span class="text-danger">@ViewData["error_name"]</span>
                </div>
                <div class="form-group">
                    <input type="email" id="Email" name="Email" class="form-control" value="@ViewData["email"]" placeholder="Email" />
                    <span class="text-danger">@ViewData["error_email"]</span>
                </div>
            </div>
            <div class="form-group">
                <textarea id="Message" name="Message" class="form-control" placeholder="Message">@ViewData["message"]</textarea>
                <span class="text-danger">@ViewData["error_message"]</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>
</section>
