@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var formHeadline = Model.Content.Value<string>("formHeadline");
    var formParagraph = Model.Content.Value<string>("formParagraph");
    var contactForm = Model.Content.Value<global::Umbraco.Cms.Core.Models.Blocks.BlockListModel>("reusableForm");
    bool.TryParse(TempData["error_name"]?.ToString(), out bool error_name);
    bool.TryParse(TempData["error_email"]?.ToString(), out bool error_email);
    bool.TryParse(TempData["error_phone"]?.ToString(), out bool error_message);

}

<div class="container contact-form">
    @if (contactForm != null)
    {
        <h2 class="form-headline">@formHeadline</h2>
        <p class="form-paragraph">@formParagraph</p>
        @using (Html.BeginUmbracoForm("HandleSubmit", "ContactSurface", FormMethod.Post))
        {
            @Html.GetBlockListHtml(contactForm)
            <span class="text-danger">@ViewData["error_name"]</span>
            <span class="text-danger">@ViewData["error_phone"]</span>
            <span class="text-danger">@ViewData["error_email"]</span>
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["success"]
                </div>
            }
        }
        
    }
</div>