@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var tag1 = settings?.Value<string>("tag1");
    var tag2 = settings?.Value<string>("tag2");
    var tag3 = settings?.Value<string>("tag3");
    var tag4 = settings?.Value<string>("tag4");
    var tag5 = settings?.Value<string>("tag5");
    var tag6 = settings?.Value<string>("tag6");
    var tag7 = settings?.Value<string>("tag7");
    var tag8 = settings?.Value<string>("tag8");
}

<section class="aside-tags">
    <div class="aside-container">
        <h4 class="tag-header">Tags</h4>
        <div class="tag-list">
            <p class="tag" id="tag1">@tag1</p>
            <p class="tag" id="tag2">@tag2</p>
            <p class="tag" id="tag3">@tag3</p>
            <p class="tag" id="tag4">@tag4</p>
            <p class="tag" id="tag5">@tag5</p>
            <p class="tag" id="tag6">@tag6</p>
            <p class="tag" id="tag7">@tag7</p>
            <p class="tag" id="tag8">@tag8</p>
        </div>
    </div>
</section>